.leftimgssection {
  /* border: 2px solid #f5f6fb; */
  cursor: pointer;
  width: 120px;
}
.leftimgssection img {
  width: 100%;
}

.proucts-main-img img {
  width: 100%;
}
.products-links-wrap a {
  color: #6d6d6d;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
}
.slash-wrap {
  color: #6d6d6d;
  font-size: 16px;
}
.Related_h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 7px;
  padding-left: 20px;
}
.amount-section {
  margin-bottom: 15px;
  padding-left: 20px;
}
.amount-section p {
  font-size: 12px;
  margin-bottom: 10px;
}

.amount-section del {
  color: #aaa;
  font-size: 16px;
}

.amount-section span {
  color: #ed1c24;
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}
.amount-section .stock-update {
  background-color: #0baf4d;
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  padding: 4px 10px;
}
.add-cart-wrpaeer {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
}
.decrement-btn {
  background-color: #fff;
  border: 1px solid #f6f6f6;
  font-size: 11px;
  padding: 8px 10px;
}
.product-number {
  background-color: #f8f8f8;
  border: 1px solid #f6f6f6;
  font-size: 11px;
  height: 35px;
  width: 25px;
}
.increment-btn {
  background-color: #fff;
  border: 1px solid #f6f6f6;
  font-size: 11px;
  padding: 8px 10px;
}
.add-to-cart-btn {
  background-color: #0baf4d;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 11px;
  margin-left: 20px;
  outline: none;
  padding: 8px 16px;
  text-transform: uppercase;
}
.optionsize-wrappers {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.sizeoptin-wrapp {
  /* background-color: #f6f6f6; */
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
}

.sizeoption-drop {
  background-color: #f8f8f8;
  border: 2px solid #f6f6f6;
  padding: 10px 16px;
  width: 28%;
}

.coloroption-drop {
  background-color: #f8f8f8;
  border: 2px solid #f6f6f6;
  padding: 10px 16px;
  width: 28%;
}

.wishlist-wrap {
  border-bottom: 2px solid #f6f6f6;
  margin-left: 20px;
  padding: 8px 0;
}

.wishlist-wrap span {
  font-size: 14px;
}

.wishlist-wrap span i {
  color: #ed1c24;
}

.sku-text-wrapper {
  border-bottom: 2px solid #f6f6f6;
  margin-left: 20px;
  padding: 23px 0;
}

.sku-text-wrapper span {
  color: #66717a;
  font-size: 14px;
  margin-left: 10px;
}

.share-wrapper {
  margin-left: 20px;
  padding: 23px 0;
}

.share-wrapper a {
  color: #000;
  font-size: 16px;
  margin-left: 20px;
}

.Related_bg {
  background-color: #f8f8f8;
  padding-bottom: 80px;
  padding-top: 30px;
}
.Related2_bg {
  background-color: #fff;
  border: 1px solid #e1e0e0;
  margin-top: 50px;
}
.Section_Real {
  border-bottom: 1px solid #e1e0e0;
  padding: 8px 0;
}
.Related_btn {
  color: #a1abad;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-bottom: 0rem;
}
.descripton-texts {
    padding: 10px 0px 0px 18px;
}
.descripton-texts p {
    color: #7d8d8f;
    font-size: 15px;
}
.descripton-textsActive{
    color: #a1abad;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-bottom: 0rem;
    color: #000;
    font-weight: 900;
}
.Border_boto{
    border-bottom: 1px solid #e1e0e0;

} 
.related-products {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}
.products-line{
    margin-bottom: 50px;
    margin-top: 39px
}
.Related_background{
  background-color: #fff;
  padding: 15px;
}


@media screen and (max-width: 317px) {
  .products-links-wrap a {
    padding: 0px;
  }
}

@media screen and (max-width:564px) {
    .Border_boto{
        display: block !important;
    }
}
@media screen and (max-width:767px) {
    #number1{
        flex-direction: column;
        justify-content: space-around;
        order: 2;
    }
    #number1{
        order: 1;
        flex-direction: column;
        justify-content: space-around;
    }
    #Change_direc{
        flex-direction: column;
    }
    .sizeoption-drop{
      width: 50% !important;
    }
    .coloroption-drop{
      width: 50% !important;
    }
}
@media screen and (max-width:991px) {
  .sizeoption-drop{
    width: 32%;
  }
  .coloroption-drop{
    width: 32%;
  }
}