.cardHover1 {
  display: flex;
  padding-top: 14px;
}
.section3_btn1{
    background-color: transparent;
    border: 1px solid #0baf4d;
    border-radius: 20px;
    padding: 6px 9px;
    font-size: 13px;
    outline: none;
    color: #0baf4d;
    font-weight: 500;
}
